.column-flex-100h {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*π*/
.pi-flex-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pi-flex-content > :nth-child(2) {
  flex: 1;
  display: flex;
  height: 100%;
  margin: 0;
  overflow: auto;
}
.pi-flex-content > :nth-child(2) > :not(:last-child) {
  margin-right: 6px;
}
.pi-flex-content > :nth-child(2) > * {
  height: 100%;
  margin: 0;
}
.pi-flex-content > :not(:first-child) {
  margin: 6px 0 0 0;
}
/*T*/
.t-flex-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.t-flex-content > :nth-child(2) {
  flex: 1;
  overflow: auto;
  margin: 6px 0 0 0;
}
.t-flex-content > :nth-child(2) > * {
  margin: 0;
}
/*E*/
.e-flex-content {
  display: flex;
  height: 100%;
}
.e-flex-content > :nth-child(1) {
  flex: 1;
  min-width: 25%;
  margin-right: 6px;
}
.e-flex-content > :nth-child(2) {
  flex: 3;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.e-flex-content > :nth-child(2) > :not(:last-child) {
  margin-bottom: 6px;
}
/*center center*/
.c-flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
.c-flex-content > * {
  margin: 6px;
}
/*H*/
.h-flex-content {
  display: flex;
  justify-content: space-between;
}
